@import 'src/colors.scss';
@import 'src/breakpoints.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.properties-list {
    display: grid;
    grid-auto-flow: row;
    align-items: start;
    gap: 1em;

    @include media(">=mdMin") {
        grid-template-columns: 1fr 1fr;
    }
}

.properties-list-card {
    grid-column-end: span 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 0.8em;

    &>:nth-child(2),
    &>:nth-child(3) {
        gap: 1.5em;
    }

    &>div {
        display: flex;
    }

    @include def-shadow;
}

.properties-list-card-idbtn {
    @include button-link;
    padding: 0.5em;
    width: fit-content;
    margin: auto;
}

.properties-card-info,
.properties-card-status {
    flex: 1;
}

.properties-card-price {
    background-color: $primaryBackground;
    color: $primary;
    border-radius: 1.6em;
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    height: fit-content;
}

.properties-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    :nth-child(2),
    :nth-child(3) {
        font-size: 0.9em;
        color: $greyText;
    }
}

.property-card-edit-btn,
.property-card-unlist-btn {
    padding: 0.7em 1.8em;
    border-radius: 1.6em;
}

.property-card-unlist-btn {

    &:not(.inactive) {
        background-color: $redLight;
        border-color: $redLight;

        &:hover {
            color: $redLight;
            background-color: white;
        }
    }

}

.properties-card-status {
    background-color: $primaryBackground;
    border-radius: 1.6em;
    display: flex;
    align-items: center;
    padding: 0.8em 0.8em;
    gap: 0.5em;
}

.key {
    font-weight: 900;
}

.property-card-metadata {
    flex-wrap: wrap;
    gap: 0.7em;

    &>div {
        padding: 0.4em 0.6em;
        border-radius: 0.6em;
        @include def-shadow;
    }
}

.btn-container {
    display: flex;
    gap: 1em;
    flex-direction: column;

    @include media(">=mdMin") {
        flex-direction: row-reverse;
        gap: 2em;
    }

    & button {
        padding: 0.8em 1.1em;
        border-radius: 1.5em;
    }
}

.card-btn-container {
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
    width: 100%;

}

.btn-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dangerPrimary;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    padding: 0.1em;
    font-size: 0.8em;
    color: white;
    transform: translate(-60%, 40%);
}

.viewrequest-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 0.8em;

    @include media("<=lgMin") {
        grid-template-columns: 1fr;
    }
}

.viewrequest-heading {
    display: flex;
    gap: 0.6em;
    font-size: 1.3em;
    font-weight: 900;
    padding: 1em;
}

.btn-link {
    @include button-link;
}