@import "../breakpoints.scss";
@import "../colors.scss";

.header {
    position: relative;
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;

}

.txt-container {

    & :nth-child(1) {
        font-weight: 800;
        margin-bottom: 5px;

    }

    & :nth-child(2) {
        @include standardFontsize(-3px);
        color: #828282;

    }
}

.btn-container {
    button {
        border-radius: 50%;
        background-color: $primary;
        border: 0;
        font-weight: 100;
        width: 2.2em;
        height: 2.2em;
        margin: 0.5em;
        color: white;

        &:hover {
            background-color: $secondary;
        }
    }
}

.search-list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 110px;
    margin-bottom: 200px;

    @include media(">=mdMin") {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }
}

.filter-container {
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;


}

.filter-background {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #000000b8;
    z-index: 20;
    top: 0;
    left: 0;
    margin: 0;
}