@import "../breakpoints.scss";
@import "../colors.scss";

.header {
    position: relative;
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;

}

.txt-container {

    & :nth-child(1) {
        font-weight: 800;
        margin-bottom: 5px;

    }

    & :nth-child(2) {
        font-size: 0.95em;
        color: #828282;

    }
}

.btn-container {
    button {
        border-radius: 50%;
        background-color: $primary;
        border: 0;
        font-weight: 100;
        width: 2.2em;
        height: 2.2em;
        margin: 0.5em;
        color: white;

        &:hover {
            background-color: $secondary;
        }
    }
}

.search-list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 110px;
    margin-bottom: 200px;

    @include media(">=lgMin") {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }
}


.filter-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 4em;
    @include responsiveVSpacing("margin", (30px 50px 70px 140px));

    @include media(">=xlMin") {
        width: 1100px;
        left: 50%;
        margin-left: -550px;
    }

}

.filter-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000b8;
    z-index: 20;
    top: 0;
    left: 0;
    margin: 0;
}

.sort-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 100%;
    background-color: white;
    z-index: 50;
    box-shadow: 0px 0px 82px -11px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0px 0px 82px -11px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 82px -11px rgba(0, 0, 0, 0.52);
    padding: 15px 15px;
    border-radius: 20px;

}

.sortradio-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    &>div {
        margin: 0.8em;
        margin-left: 0.5em;
    }
}