@import 'src/colors.scss';

.btn-smoothround-hollow {
    background-color: #00000000;
    border: $primary solid 1px;
    color: $primary;

    &:hover {
        color: white;
        background-color: $primary;
    }
}

.btn-smoothround-solid,
.btn-smoothround-hollow {
    border-radius: 10px;

    &:disabled {
        background-color: $grey;
        cursor: not-allowed;
        border-color: $grey;

        &:hover {
            background-color: inherit;
            color: inherit;
        }
    }
}

.btn-smoothround-solid {
    border: $primary solid 1px;
    color: white;
    background-color: $primary;

    &:hover {
        background-color: #00000000;
        color: $primary;
    }
}

.indicator-wrapper {
    position: relative;
    display: flex;

    &>button {
        height: 100%;
        width: 100%;
    }
}

.indicator {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}