@import 'src/colors.scss';

.btn-smoothround-hollow {
    background-color: #00000000;
    border: $primary solid 1px;
    color: $primary;
    border-radius: 10px;

    &:hover {
        color: white;
        background-color: $primary;
    }
}

.btn-smoothround-solid {
    border: $primary solid 1px;
    color: white;
    background-color: $primary;
    border-radius: 10px;

    &:hover {
        background-color: #00000000;
        color: $primary;
    }
}

.indicator-wrapper {
    position: relative;
    display: flex;
    &>button{
        height: 100%;
        width: 100%;
    }
}

.indicator {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}