@import "../breakpoints.scss";

.header {
  height: 70px;
  font-size: 15px;

  @include media(">=smMin") {
    height: 100px;
    font-size: 18px;
  }
}

.topnav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  background-color: white;

  @include media_template("sm") {

    padding-right: 15px;
  }

  @include media_template("md") {
    padding: 0 15px 0 15px;

  }

  @include media(">=lgMin") {
    padding: 0 55px 0 55px;

  }

  img {
    height: 100%;
  }
}

.logo {
  height: 100%;

  >img {
    max-height: 100%;
    object-fit: contain;
  }
}

.topnav-right-container,
.topnav-left-container {
  display: flex;
  height: 100%;
}

.topnav-right-container {
  padding: 15px 0 15px 0;
  gap: 2em;
  margin-right: 13px;
  justify-content: space-between;

  @include media(">=smMin") {
    padding: 20px 0 20px 0;

  }

  @include media_template("sm") {
    gap: 25px;
  }

  @include media_template("md") {
    gap: 45px;

  }

  @include media(">=lgMin") {
    gap: 55px;

  }

  &>button {
    padding: 0 16px 0 16px;

    @include media(">=smMin") {

      padding: 0 25px 0 25px;
      margin: 5px 0 5px 0;
    }
  }
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;

  >img {
    border-radius: 50%;
    border: 2px solid var(--teal-dark);
  }

  >a {
    height: 100%;
  }
}

.profile-dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  >p>span {
    color: var(--teal-dark);
  }

}

.profile-dropdown-down {
  height: 100%;
  display: flex;
  align-items: center;

  >img {
    height: 40%;
  }
}

.dropdown-box {
  display: flex;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--teal-dark);
  top: 115%;
  right: -30px;
  margin-right: 30px;
  border-radius: 20px;
  padding: 0px 55px 0px 20px;
  z-index: 1000;
  box-shadow: 0px 9px rgba($color: #000000, $alpha: 0.1);

  :nth-child(1) {
    margin-top: 10px;
  }

  :nth-last-child(1) {
    margin-bottom: 10px;
  }

  @include media(">=smMin") {
    margin-right: 0;
    font-size: 21px;
    padding: 0 65px 0 30px;
    right: 0;

    :nth-child(1) {
      margin-top: 15px;
    }

    :nth-last-child(1) {
      margin-bottom: 15px;
    }
  }

  @include media(">=lgMin") {
    font-size: 24px;
    padding: 0 75px 0 40px;

    :nth-child(1) {
      margin-top: 20px;
    }

    :nth-last-child(1) {
      margin-bottom: 20px;
    }
  }



  a {
    color: white;
    padding: 10px 0 10px 0;
    transition: color 0.7s ease;
    white-space: nowrap;


    &:hover {
      color: black;
    }
  }
}

.is-close {
  max-height: 0px;
}

.notifbell,
.menuicon {
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  height: 100%;

  @include media(">=smMin") {
    padding: 15px 0 15px 0;

  }
}

.login-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 50;

  //@include standardSpacing("padding", (0 20px 140px 200px 320px), 1500px);

  @include media(">=xxlMin") {
    left: 50%;
    margin-left: -750px;
  }
}

.login-container {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  z-index: 50;
  margin: 0 20px;
  margin-top: 3em;

  @include media(">smMin") {
    width: 30em;
    margin: auto;
    margin-top: 6em;
  }
}