.slider-container{
    position: relative;
}
.image-slider {
    position: relative;
    background-color: whitesmoke;

    .aspect-ratio-container {
        display: block;
        content: "";
        width: 100%;
        padding-bottom: 56.25%;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .image-slider-container {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

