@import '../breakpoints.scss';
@import '../colors.scss';
@import 'src/styles/mixins.scss';

.modal-container {
    display: flex;
    flex-direction: column;
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    font-weight: 800;

    .modal-title {
        z-index: 10;
        height: 80%;

        img {
            max-height: 100%;
        }
    }

}



.modal-item-heading {
    font-weight: 800;
}

.modal-item {
    width: 100%;
    padding: 0 1.5em;

    &>div,
    &>form {
        margin: 1.5em auto;
    }
}


.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    top: 0.8em;
    right: 0.8em;
    border: 0;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    background-color: #fe5252;
    color: white;

    i {
        font-size: 0.8em;
    }
}

.signup-message {
    margin: auto;
    width: fit-content;
    font-weight: 800;

    button {
        @include clickable-text-btn;
    }
}

.other-methods-message {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 200;

    .line {
        flex: 1;
        height: 1px;
        background-color: $greyText;
    }
}

.other-methods-btn {
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 2em;

    button {
        width: 4em;
        height: 4em;
        border: 0;
        background-color: white;
        padding: 0;
        border-radius: 50%;
        @include def-shadow;
    }

    img {
        max-width: 80%;
        object-fit: contain;
    }

    .fb-btn {
        max-width: 100%;
    }
}

.signin-btn {
    width: 100%;

    button {
        padding: 1em 0;
        width: 100%;
    }
}

.confirm-container {
    &>div {
        width: max-content;
    }
}

.confirm-btn {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: $primary;
    width: max-content;
}

.reset-btn {
    display: flex;
    flex-direction: row-reverse;

    &>button {
        @include button-link;
        font-weight: 900;
    }
}