@import 'src/colors.scss';

.location-pin {
    background-color: #00000000;
}

.location-pin-highlight {
    filter: invert(100%);
    color: $primary;
}

.map-container {
    position: relative;
}

.attribution-logo {
    position: absolute;
    bottom: 1.3em;
    right: 1em;
    height: 25px;
    z-index: 1000;
}