@import 'src/colors.scss';
@import 'src/styles/mixins.scss';

.item {
    position: relative;
    z-index: inherit;
    flex-shrink: 0;
    margin: 1.5em;
    width: 20em;
    border-radius: 2em;
    overflow: hidden;
    height: max-content;
}

.position-indicator {
    position: absolute;
    z-index: 10;
    bottom: 1em;
    right: 1em;
}

.item-top-container {
    padding: 0 0.5em;
    z-index: 10;
    position: absolute;
    display: flex;
    top: 0.8em;
    height: 1.6em;
    width: 100%;
    background-color: #00000000;
    justify-content: space-around;


}

.item-bottom-container {
    position: absolute;
    z-index: inherit;
    bottom: 1em;
    padding: 0 0.5em;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1em;
    justify-content: space-between;

    a {
        background-color: $primary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 2.2em;
        width: 2.2em;
        border-radius: 50%;
    }

}

.rate {
    background-color: $red1;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 0.7em;
    padding: 0.5em;
    color: white;
    font-size: 0.8em;
    font-weight: 900;
    height: 100%;
}

.fav-icon-container {
    display: flex;
    align-items: center;
    background-color: white;
    height: 100%;
    border: 0;
    border-radius: 0.3em;
    border: 3px solid adjust-color($primary, $alpha:-0.8);
    font-size: 0.8em;

}

.property-feature {
    display: flex;
    align-items: center;
    color: white;
    width: max-content;
    gap: 0.5em;
    padding: 0 0.9em;
    background-color: $transparentBlack_glass;
    border-radius: 1em;
    font-size: 0.8em;

    img {
        margin-right: 0.3em;
        height: 1em;
    }
}

.seperator {
    &::after {
        content: "\2022";
        display: flex;
        align-items: center;
        color: $red1;
    }
}

.property-location {
    color: white;
    background-color: $transparentBlack_glass;
    padding: 0.3em;
    border-radius: 0.5em;
    max-width: 80%;

    & :nth-child(1) {
        font-weight: 800;
    }

    & :nth-child(2) {
        color: #bebebe;
        font-size: 0.9em;

    }
}

.highlight {
    border: 2px solid $primary;
}

