@import '../breakpoints.scss';
.property-list{
    margin: $vsmVerticalSpace;
    margin-top: 50px;
    @include media(">=mdMin") {
        margin-left: $mdVerticalSpace;
        margin-right: $mdVerticalSpace;
    }
}
.list-heading-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 25px 0;
    >.list-heading{
        font-weight: 800;
    }
    >.list-more-btn{
        background-color:#22ecbd36;
        color: #06d0a1;
        border: 0;
        border-radius: 10px;
        font-size: $defaulFontSize - 2;
        padding: 3px 7px 3px 7px;
        font-weight: 800;
    }
}
.minimal-list-container-wrapper{
    position: relative;
}
.minimal-list-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 110px;
    gap: 0 15px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    > .left-scroll-btn,.right-scroll-btn{
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;  
        border: 0;
        background-color: rgba($color: #000000, $alpha: 0.2); 
        top:25%;
        color: #f0f0f0;
     
    }
    > .left-scroll-btn{
        left: 0px;
    }
    > .right-scroll-btn{
        right: 0px;
    }
    @include media(">=mdMin") {
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;

        gap: 20px 35px;
        > .left-scroll-btn,.right-scroll-btn{
            display: none;
        }

    }
    @include media(">=lgMin") {
        gap: 20px 45px;

    }
    >div {
        flex-shrink: 0;
        scroll-snap-align: start;
    }
}