@import 'src/colors.scss';

.indicator-container{
    display: flex;
    align-items: center;
    background-color: $transparentBlack_glass;
    border-radius: 0.4em;
    height: 0.75em;
    width: max-content;
    div{
        height: 0.45em;
        width: 0.45em;
        background-color: white;
        border-radius: 50%;
        margin: 0 0.15em;
    }
    .active{
        background-color: $primary;
    }
}