@import "../breakpoints.scss";
@import "../colors.scss";

.property-card {
    width: 100%;
    position: relative;
}

.property-card-container {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
}

.fav-icon {
    display: flex;
    align-items: center;
    font-size: 1.2em;

    button {
        padding: 0;
    }

    .filled {
        color: red;
    }

    .regular {
        color: $grey;
    }
}

.image-slider {
    position: relative;
    background-color: whitesmoke;

    &::after {
        display: block;
        content: "";
        width: 100%;
        padding-bottom: 56.25%;
    }

    img {
        object-fit: cover;
        width: 100%;
    }

    .image-slider-container {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        div {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            flex-shrink: 0;
            scroll-snap-align: start;
        }
    }
}

.property-details {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    width: 90%;
    margin: 0 5% 0 5%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 82px -11px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0px 0px 82px -11px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 82px -11px rgba(0, 0, 0, 0.52);
    padding: 15px;



}

.top-container {
    display: flex;
    margin-right: 0.5em;

    & :nth-child(1) {
        margin-bottom: 0.3em;
    }
}

.bottom-container>div {
    margin: 0.3em 0 0.3em 0;
}

.property-features {
    display: flex;
    font-weight: 800;
    justify-content: space-between;

    div {
        font-size: 0.9em;

        display: flex;

        .feature-icon {
            width: 1.1em;
            margin-right: 0.3em;

        }
    }
}

.property-price {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 800;
    padding-top: 0.5em;
    font-size: 0.95em;
    color: var(--teal-dark);

    div {
        font-size: inherit;
        width: max-content;
    }
}

.property-location {
    flex: 1;

    & :nth-child(1) {
        font-weight: 800;
    }

    & :nth-child(2) {
        color: #828282;
        font-size: 0.95em;

    }
}