@import 'src/colors.scss';
@import 'src/breakpoints.scss';
@import 'src/styles/mixins.scss';


.request-card {
    display: flex;
    flex-direction: column;
    @include def-shadow;
    padding: 1.1em;
    border-radius: 1em;
    min-width: 0;

    &>div>.title {
        font-weight: 900;
    }

    &>.othertenants {
        display: flex;
        flex-direction: column;
        padding-left: 1em;
        gap: 0.4em;

        &>div {
            padding: 0.5em;
            border: 1px solid adjust-color($color: $primary, $lightness: 40%);
        }

    }
}

.request-card .request-card-property {
    display: flex;
    gap: 0.5em;
}

.btn-link {
    @include button-link;
}