@import '../breakpoints.scss';
@import '../colors.scss';
@import 'src/styles/mixins.scss';

.searchbox-container {
    position: relative;
    display: flex;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding-left: 20px;

}

.searchbox-input-field {
    flex: 1;

    input {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0);

        &::placeholder {
            font-weight: 800;
        }
    }
}

.searchbox-btn {
    padding: 10px 15px 10px (10px + 3px);
    border-radius: inherit;
    transition: background-color 0.3s ease;
    height: 100%;

    &:hover {
        background-color: #17cfaa59;
    }

    button {
        background-color: rgba($color: #000000, $alpha: 0);
        border: 0;

    }

    img,
    button {
        height: 100%;
    }
}

.suggestions-container {
    position: absolute;
    background-color: white;
    width: 100%;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 10000;
    @include def-shadow;

    &>button {
        background: none;
        color: inherit;
        border: none;
        padding: 0.6em 1em;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        text-align: left;
        font-size: 1.2em;
        font-weight: 900;
        color: $greyText;
        &:hover{
            background-color: $greyBackground;
        }
    }
}