@import 'src/colors.scss';
@import 'src/styles/mixins.scss';

.table {
    @include def-shadow;
    border-collapse: collapse;

    th {
        padding: 0.5rem;
    }

    td,
    th {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.6em 0.4em;
    }

    thead {

        background-color: adjust-color($color: $primary, $lightness: 5%, );
        color: white;
    }

    tbody tr {

        td {
            text-align: center;


        }

        &:not(:hover) {
            td:nth-child(odd) {
                background-color: adjust-color($color: $primary, $lightness: 60%, );
            }
        }

        td:nth-child(odd) {
            border-bottom: 3px solid white;

        }

        td:nth-child(even) {
            border-bottom: 3px solid adjust-color($color: $primary, $lightness: 60%, );
        }

        &:hover {
            background-color: $greyBackground;
        }
    }
}

.pagination {
    margin: 1em;

    button {
        background-color: white;
        @include def-shadow;
        border: none;
    }
}

.sort-container {
    margin: 0.7em 0;
    max-width: 18em;

    &>div {
        margin-bottom: 0.5em;
    }
}

.sort-dropdown-container {
    display: flex;

    & button {
        height: 2.5em;
        align-self: start;
    }
}

.top-panel {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    flex-wrap: wrap;
    width: 90%;
}