@import 'src/breakpoints.scss';
@import 'src/colors.scss';


.radio-item {
    display: flex;
}

.radio-item input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.radio-item label {
    display: block;
    position: relative;
    padding-left: 0.8em;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.radio-item:hover label {
    color: $greyText;
}

.checked,
.unchecked {
    color: $primary;
}

.checked {
    display: none;
}

.radio-item {

    input[type=radio]:checked~.checked {
        display: inline;
    }

    input[type=radio]:checked~.unchecked {
        display: none;

    }
}