@import 'src/breakpoints.scss';
@import 'src/colors.scss';

.list {
    color: black;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    align-items: center;
}

.list .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .list-item input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.list .list-item label {
    display: block;
    position: relative;
    padding: 1em;
    padding-left: 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.list .list-item:hover label {
    color: $greyText;
}

.checked,
.unchecked {
    color: $primary;
}

.checked {
    display: none;
}

.list-item {

    input[type=radio]:checked~.checked {
        display: inline;
    }

    input[type=radio]:checked~.unchecked {
        display: none;

    }
}