@import 'src/breakpoints.scss';
@import 'src/colors.scss';

.range-slider {
    display: flex;
    align-items: center;
    height: 1em;
}

.Range-track-style,
.Range-track-style-untouched {
    height: 0.2em;

    &#{&}-0,
    &#{&}-2 {
        background-color: adjust-color($primary, $alpha:-0.7);
    }

}

.Range-track-style {

    &#{&}-1 {
        background-color: $primary;
    }
}

.Range-track-style-untouched {

    &#{&}-1 {
        background-color: $greyText;
    }
}

.Range-thumb-style {
    position: relative;
    height: 0.8em;
    width: 0.8em;
    border: 0;
    border-radius: 50%;
    background-color: $primary;

    &.untouched {
        background-color: $grey;
    }

    &>* {
        position: absolute;
        top: 100%;
    }

}