@import 'src/styles/mixins.scss';
@import 'src/colors.scss';

.textbox {
    display: flex;
    height: 3em;
    background-color: white;
    border-radius: 1.5em;
    @include def-shadow;
    padding: 0 0.8em;

    &.disabled {
        background: #d4d4d4;
        input {
            cursor: not-allowed;
            &::placeholder{
                color: white;
                font-weight: 700;
            }
        }
    }

    button {
        @include clickable-text-btn;
    }

    input {
        flex: 1;
        border-radius: inherit;
        background-color: inherit;
        height: 100%;

        &::placeholder {
            font-size: 0.8em;
        }

    }
}