@import 'src/breakpoints.scss';
@import 'src/colors.scss';


.radio-item {
    position: relative;
    display: flex;
    width: max-content;
}

.radio-item {

    input[type=radio],
    input[type=checkbox] {
        position: absolute;
        visibility: hidden;
    }

}

.radio-item .label {
    display: block;
    position: relative;
    padding-left: 0.7em;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    background-color: rgba($color: #000000, $alpha: 0);
}

.radio-item:hover label {
    color: $greyText;
}

.checked,
.unchecked {
    color: $primary;
    height: 100%;
}

.checked {
    display: none;
}

.radio-item {

    input[type=radio],
    input[type=checkbox] {
        &:checked~.checked {
            display: inline;
        }
    }

    input[type=radio],
    input[type=checkbox] {
        &:checked~.unchecked {
            display: none;
        }
    }
}