@import 'src/colors.scss';
@import 'src/styles/mixins.scss';



.image-slider {
    width: 200px
}

.property-approve-btn {
    @include unstyle-btn;
    background-color: $green1;
    padding: 0.3em;
    font-size: 0.9em;
    color: white;
    font-weight: 900;
    border-radius: 0.5em;
    margin: 0.4em;
    border: 1px solid $green1;

    &.disapprove {
        background-color: $redLight;
        border: 1px solid $redLight;

        &:hover {
            color: $redLight;
            background-color: white !important;
        }
    }

    &:hover {
        color: $green1;
        background-color: white !important;
    }
    
}

.link-btn {
    @include button-link;
}