@import './breakpoints.scss';

html {
  box-sizing: border-box;
  font-family: "HelveticaNeue";
  @include responsiveFontsize((14px, 16px, 16px, 18px, 18px));

}

textarea:focus,
input:focus,
input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

*,
*:before,
*:after {
  //font-size: $defaulFontSize;
  box-sizing: inherit;

}

:root {
  --teal-dark: teal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 800;
  src: url(assets/fonts/helvetica/HelveticaNeue-MediumExt.otf);
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 200;

  src: url(assets/fonts/helvetica/HelveticaNeue-LightExt.otf);
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;

  src: url(assets/fonts/helvetica/HelveticaNeue-Extended.otf);
}

@font-face {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  src: url(assets/fonts/helvetica/HelveticaNeue-Medium.otf);
}