@import './breakpoints.scss';
@import './colors.scss';

html {
  box-sizing: border-box;
  font-family: "gotham-rounded";
  @include responsiveFontsize((14px));

}

textarea:focus,
input:focus,
input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

*,
*:before,
*:after {
  //font-size: $defaulFontSize;
  box-sizing: inherit;

}

:root {
  --teal-dark: teal;
}

@font-face {
  font-display: swap;
  font-family: "gotham-rounded";
  font-weight: 800;
  src: url(assets/fonts/gotham-rounded/GothamRounded-Bold.otf);
}

@font-face {
  font-display: swap;
  font-family: "gotham-rounded";
  font-weight: 200;

  src: url(assets/fonts/gotham-rounded/GothamRounded-Light.otf);
}


@font-face {
  font-display: swap;
  font-family: "gotham-rounded";
  font-weight: 400;
  src: url(assets/fonts/gotham-rounded/GothamRounded-Book.otf);
}

a {
  color: inherit;
}

a:link {
  text-decoration: underline;
}

a:visited {
  color: $greyBlueTint;
}

a:focus {
  border: 1px solid black;
}

a:hover {
  color: $greyText;
}

a:active {
  color: #c8a3a3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: inherit;
  border: inherit;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}